# System and IDE files
.vscode/
.DS_Store
.venv/
__pycache__/

# Data and results
_outputs/
output/
models/
logs/
latex_output/
err/
out/
notes/info_datasets.md

# Temporary and backup files
*copy*
old/
notebooks/tutorials/
tmp/
tmp*/