# System and IDE files
.vscode/
.DS_Store
.venv/

# Data and results
_outputs/
output/
models/
logs/
latex_output/
err/
out/

# Temporary and backup files
*copy*
*test*
old/
tmp/
tmp*/

# Other
scripts/
notebooks/tutorials/
notes/info_datasets.md
notes/plan_workshop.md